@model Lab3_KIST_.net_.Models.Student

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Student</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Finance_ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Finance_ID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status_ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status_ID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Specializ_ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Specializ_ID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Book_no)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Book_no)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Note)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Note)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SDiploma.Diploma_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SDiploma.Diploma_name)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
