@model IEnumerable<Lab3_KIST_.net_.Models.Student>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Finance_ID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status_ID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Specializ_ID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Book_no)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Note)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SDiploma.Diploma_name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Finance_ID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status_ID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Specializ_ID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Book_no)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Note)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SDiploma.Diploma_name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Student_ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.Student_ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Student_ID })
        </td>
    </tr>
}

</table>
